@use 'variables';

.profile {
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  &__separator {
    width: 90%;
    margin-bottom: 1rem;
    color: variables.$color-tertiary;
  }

  &__user {
    padding: 2rem;

    & > h2 {
      text-align: center;
      margin-bottom: 1rem;

    }
  }

  &__topics {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;

    & > h2 {
      margin-bottom: 1rem;
    }
  }

  &__emptyList {
    margin: 1rem 0;
  }
}

.topic__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 1rem 2%;
  width: 100%;
  gap: 2rem;
}
