@use 'variables';

.topic {
  display: flex;
  flex-flow: column wrap;
  background-color: variables.$color-secondary;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;

  &__container {
    display: flex;
    flex: 48%;
    width: 100%;
  }
}


