@use 'variables';

.post {
  display: flex;
  flex-flow: column nowrap;
  background-color: variables.$color-secondary;

  &__header {
    display: flex;
    flex-flow: column nowrap;

    &__title {
      font-weight: bold;
      padding-bottom: 1rem;
    }

    &__details {
      display: flex;
      flex-flow: row nowrap;
      padding-bottom: 1rem;

      &__date {
        margin-right: 20%;
      }
    }
  }
}
