<form [formGroup]="loginForm" class="login-form">
  <h2>Se connecter</h2>
  <div class="login-form__group">
    <label for="identifiant">E-mail ou nom d'utilisateur</label>
    <input formControlName="identifiant" id="identifiant" placeholder="E-mail ou nom d'utilisateur" type="text"/>
  </div>
  <div class="login-form__group">
    <label for="password">Mot de passe</label>
    <input formControlName="password" id="password" placeholder="Mot de passe" type="password"/>
  </div>
  <app-button (click)="handleSubmit()" content="Se connecter" variant="default"/>
</form>
