.post-details {
  padding: 1rem;

  &__post__header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 2rem;

    &__arrow {
      font-size: 30px;
      margin-right: 1rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__infos {
    margin-left: 44px;

    &.responsive {
      margin-left: 0;
    }

    &__creation {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      & p {
        margin-bottom: 2rem;
        margin-right: 10%;
      }
    }

    &__content {
      &__value {
        display: inline-block;
      }
    }
  }

  &__separator {
    margin: 2rem 0 2rem 44px;

    &.responsive {
      margin-left: 0;
    }
  }

  &__comments__title {
    font-weight: 300;
    margin-left: 44px;
    font-size: 1.2rem;
    margin-bottom: 1rem;

    &.responsive {
      margin-left: 0;
    }
  }

  &__comments__wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-left: 44px;
    padding: 0 4%;

    &.responsive {
      margin-left: 0;
      padding: 0;
    }

    &__commentList, &__commentForm {
      width: 100%;
    }
  }
}
